{% extends "base.html" %}

{% block content %}
         <div class="card">
                <h5 class="card-header">{{note.title}} </h5>
                <div class="card-body">
                    <h5 class="card-title">{{note.title}} </h5>
                    <p class="card-text">{{note.text}} </p>
                    <p class="card-text">{{note.created}} </p>
                    <a href="/notes/{{note.pk}}" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
{% endblock %}