<html>
    <head>
        <title> {{book_detail.title}} </title>
    </head>

    <body>
        {% if book_detail %}
        <h1>{{book_detail.title}} Books</h1>
        
            <span>
                <p> Title:  {{book_detail.title}} </p>
                <p> Author:  {{book_detail.author}} </p>
                <p> ISBN: {{book_detail.isbn}} </p>
                <p> Description:  {{book_detail.description}}</p>
                <p> Date Created: {{book_detail.created}} </p>
            </span>
        {%else%}
        <h3> Book of that ID Does Not Exist</h3>
    </body>

</html>