{% extends "base.html" %}

{% block content %}
<div class="container mt-4 col-sm-6 mb-3 mb-sm-0">
    <div class="card">
    <div class="card-header">
        {{book.title}} Book
    </div>
    <div class="card-body">
        <h5 class="card-title">{{book.title}}</h5>
        <p class="card-text">{{book.author}}</p>
        <p class="card-text">{{book.isbn}}</p>
        <p class="card-text">{{book.description}}</p>
    
        <a href="{% url 'books.list' %}" class="btn btn-primary">All Books</a>
    </div>
    <div class="card-footer text-body-secondary">
        {{book.created}}
    </div>
    </div>
</div>
{% endblock %}